<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106483280088-a4p1thb6dqhruksa4u4tvgmejinvrjvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106483280088-a4p1thb6dqhruksa4u4tvgmejinvrjvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBN7mpyK-bLcoD_iSYlVBvMtBsrOH1jD6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>106483280088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.24balance.app</string>
	<key>PROJECT_ID</key>
	<string>balance-ddb48</string>
	<key>STORAGE_BUCKET</key>
	<string>balance-ddb48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106483280088:ios:928050cdfb9c82d1e7cfad</string>
	<key>DATABASE_URL</key>
	<string>https://balance-ddb48-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>